.wrapper{
    position: relative;
}

header{
    background-color: rgb(255, 240, 155);
}

.tab{
    display: inline-block;
    text-align: center;
    box-sizing: border-box;    
    height: 40px;
    line-height: 30px;
    border: 5px gray double;
}

#menuTab{
    display: none;
    z-index: 30;
}

#menu{
    position: absolute;
    z-index: 20;
    visibility: hidden;
    opacity: 0;
    left:-100%;
    right: 100%;
    transition: left 0.3s, right  0.3s,opacity 0s 0.3s,visibility 0s 0.3s;
}

#menuTab:checked ~ #menu{
    visibility: visible;
    opacity: 1;
    min-height: 100%;
    left:0;
    right:0;
    transition: left 0.3s, right 0.3s;
}

.accountLists  td:nth-child(3){
    text-align: right;
}




.cardName{
    color: blue;
    text-decoration:underline;
}
input{
    font-size: 15px;
    box-sizing: border-box;
}

.inputBox{
    width: 100%;
}
.inputBox2{
    width: calc(100% - 25px);
}

.addForm td:first-child{
    text-align: right;
}

#balance {
    width: fit-content;
    min-width: 100px;
    text-align: center;
    margin: 0 auto;
    border: solid 1px greenyellow;
    background-color: palegreen;
    border-radius:10px;
    padding: 10px;   
}
#balance p{
    margin: 0px;
}

#balance .balanceTitle{
    display: inline-block;
    width: 100%;
    border: solid 1px white;
    background-color: greenyellow;
    border-radius:50vmin;
    font-size: 15px;
}

#balance .balanceAmount{
    font-size: 20px;
    border-bottom: double; 
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse:collapse;
}
tr,td,th{
    border:solid  1px black;
    font-size: 15px;
}
th{
    text-align: center;
}
.colDate{
    width: 100px;
}
.colAmount{
    width: 100px;
}
.noRightBorder{
    border-right: none;
}
.noLeftBorder{
    border-left: none;
}

.remove{
    width: 40px;
}
.dateEdit{
    text-align: right;
}


.inputTable{
    table-layout: auto;
    border: none;
}
.inputTable tr,.inputTable td{
    border:none;
}

.memo_summary{
    text-align: left;
}

#menu{
    background-color: lightcyan;
}
#content{
    background-color: honeydew;
    z-index: 10;
}

.year,.amount,.date{
    text-align: right;
}

.dateRow{
    text-align: left;
}

.editTable,.editTable tr,.editTable td{
    border: none;
}

.buttons{
    width: 25px;
}
.displayRow td:nth-child(1){
    text-align: left;
}
.displayRow td:nth-child(2){
    text-align: right;
}
.displayRow td:last-child{
    text-align: center;
}
.displayRow td[colspan]{
    text-align: left;
}

.colAmountEdit{
    text-align: right;
}
.amount{
    width: 70px;
}